<tr>
        <td><%= blog.title.upcase %> &nbsp &nbsp &nbsp</td>
        <td>Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago  &nbsp &nbsp &nbsp</td>
        <td><%= blog.body %>&nbsp &nbsp &nbsp</td> 
        <td><%= link_to blog.status, toggle_status_blog_path(blog) %>&nbsp &nbsp &nbsp</td>
        <td><%= link_to 'Show', blog %>&nbsp &nbsp</td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %>&nbsp &nbsp</td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>