<h1>Portfolio items</h1>

	<%= link_to "Create new Portfolio item", new_portfolio_path %>
	<hr>	
	<% @angular_portfolio_items.each do |f| %>
		<p><%= link_to f.title, portfolio_show_path(f) %></p>
		<p><%= f.subtitle %></p>
		<p><%= f.body %></p>
		<%= image_tag f.thumb_image unless f.thumb_image.nil? %>
		<%= link_to "Edit", edit_portfolio_path(f) if logged_in?(:site_admin) %>&nbsp 
		<%= link_to 'Delete portfolio item', portfolio_path(f), method: :delete, data: { confirm: 'Are you sure?' if logged_in?(:site_admin) } %>
		<hr>

	<% end -%>