<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>

    <meta name="keywords" content="<%= @seo_keywords %>">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render "jsJquery/support" %>

  </head>

  <body style="position: absolute; left: 150px;">
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

     <%= javascript_pack_tag 'hello_coffee' %>

    <%= render "shared/nav", location:'top' %>

    <%= login_helper %>

    <%= yield %><br>

    <%= @copyright %>

    <%= source_helper("application") %>

  </body>
</html>
